# Телеграм

TELEGRAM_BOT_TOKEN=твой_токен_сюда

ALLOWED_TELEGRAM_USER_IDS=



# OpenRouter

OPENAI_API_KEY=твой_ключ_openrouter_сюда

OPENAI_BASE_URL=https://openrouter.ai/api/v1



# Твои модели

OPENAI_MODEL=google/gemini-2.5-pro

OPENAI_VISION_MODEL=google/gemini-2.5-flash



# Удобные фишки

ENABLE_QUOTING=true

ENABLE_TRANSCRIPTION=true

ENABLE_IMAGE_GENERATION=true

MAX_TOKENS=4000

GROQ_API_KEY=твой_ключ_groq_сюда




